<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flight Booking Confirmation for <%= @passenger.name %></h1>
    <p>
      Thank you for using the Odin Flight Booker App! Your flight has been sucessfully booked. See detailed information below:
    </p>
    <h2>Booking Information</h2>
    <h3>Booking #<%= @booking.id %></h3>
    <h4>Flight Information:</h4>
    <p><strong>Flight #:</strong> <%= @booking.flight.id %></p>
    <p><strong>From:</strong> <%= @booking.flight.from_airport.code %>, <strong>To:</strong> <%= @booking.flight.to_airport.code %></p>
    <p><strong>Departs at:</strong> <%= @booking.flight.departs_at.strftime("%A %^b %d, %Y at %l:%M %P") %></p>
    <p><strong>Arrives at:</strong> <%= (@booking.flight.departs_at + (@booking.flight.duration_in_hours).hours).strftime("%A %^b %d, %Y at %l:%M %P") %></p>
    <p><strong>Duration:</strong> <%= @booking.flight.duration_in_hours.to_i %> hrs, <%= (@booking.flight.duration_in_hours % 1 * 60).to_i %> min</p>

    <hr />

    <p>You can view this booking online <%= link_to 'here', booking_url(@booking) %>.</p>

  </body>
</html>